/*navbar*/
.nav-logo img{
  height: 40px;
  width: auto;
  background: #282531;
}

/*Banner*/
.pdng{
  padding-bottom: 10px;
}

/*grid*/

.box{
  background-color: #F8FFFB;
  padding-top: 50px;
  margin-top: 50px;
  height: 220px;
  width: 220px;
  border: none;
  box-shadow: 3px 3px 5px;
  display:flex;
     flex-direction: column;
     align-items: center;
}

.box img{
  width: 50px;
  height: 50px;
 }

.box-gap{
  grid-gap: 50px;
}
.box:hover{
  background-color: white;
  box-shadow: 5px 5px 15px;
  transform: scale(1.1);
  transition: transform 0.5s;
}
/*Card*/
.card{
  padding: 12px;
}
.card:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
}
.card-logo{
  height: 20px;
}

/*Footer*/
.footer-img{
  height: 120px;
  width: 120px;
}
.footer-size{
  width: 500px;
  margin-left: 50px;
}
.footer-bg-clr{
  padding-top: 40px;
  padding-bottom: 20px;
  color: white;
  background-color: #282531;
  height: auto;

}
/*Universal*/
.bg-clr{
  background-color: #F0FFF0;
}

.red{
  color: red;
}
.green{
  color: #21B573;
}

.button{
background: #21B573;
border-radius: 33px;
}
.button:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
}
