/*navbar*/
.nav-logo img{
  height: 40px;
  width: auto
}

/*Banner*/
.bnr-img{
  height: auto;
  width: auto;
  margin-bottom: 40px;
}
.red{
  color: red;
}
.green{
  color: #21B573;
}
/*grid*/
.grid-img img{
  height: auto;
  width: 80px;
}
.col-md-3{
  height: 270px;
  width: 270px;
    background-color:#F0FFF0;
  margin-top: 50px;
  border: none;
  box-shadow: 3px 3px 5px lightgray;
}
.hover-effect :hover{
  background-color: #ffffff;
  border: none;
  box-shadow: 5px 5px 50px lightgray;
}

/*card*/
.mrgn{
  margin-bottom: 50px;
}
.card-icon img{
  height: 20px;
  width: 20px;
}
.card img{
  padding: 15px;
}

.card{
  margin-right: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 5px lightgray;
}

/*Universal*/
.button{
  width: auto;
  background: #21B573;
  border-radius: 33px;
  border-color: #21B573;
  }
  
  .bg-clr{
    background-color:#F0FFF0;
  }
